.LoadScreen{
  background-color: #c95c13;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animationText 6s forwards;
}
.LText{
  color: #da8852;
  font-size: 30px;
  animation: animationText 6s forwards;
}
*{
  padding: 0;
  margin: 0;
}
@keyframes animationText{
  0%{color: hsl(24, 65%, 59%); font-size: 30px; display: flex;}
  25%{color: hsl(24, 65%, 64%); font-size: 34px;display: flex;}
  50%{color: hsl(24, 65%, 59%); font-size: 30px;display: flex;}
  75%{color: hsl(24, 65%, 64%); font-size: 34px;display: flex;}
  100%{color: hsl(24, 65%, 59%); font-size: 30px;display: none;}
}
.MainScreen{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 68% 12%;
}
.top{
  background-color: hsl(239, 80%, 30%);
}
.main{
  background-color: hsl(239, 80%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom{
  background-color: hsl(239, 80%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonPlay{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(29, 100%, 98%);
  text-decoration: none;
}
.buttonSupport{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(29, 100%, 98%);
  text-decoration: none;
}
.buttonSettings{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(29, 100%, 98%);
  text-decoration: none;
}
.buttonPlay img{
  width: fit-content;
}
.main2{
  background-color: hsl(239, 80%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(29, 100%, 98%);
  padding: 20px;
}
.bottom2{
  background-color: hsl(239, 80%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonBack{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(29, 100%, 98%);
  text-decoration: none;
}